:root {
	/* --himiko-header: 4rem;
    --himiko-footer: 2rem;
    --himiko-main: calc(100vh - (var(--himiko-header) + var(--himiko-footer)));
    --background-container-color: rgba(90, 32, 18, 0.9); */
}

/*  
====================================== 
            	HEADER                          
====================================== 
*/

/* MAIN HEADER STYLES */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 24px; /* Make this {padding: 8px 12px;} at 320px up to a specific screen size */
	background-color: black;

	& > img {
		width: min(40vw, 222px);
	}

	& nav {
		margin-left: auto;
		padding: 0 32px;
	}
}

/* STYLES FOR HEADER UL AND A TAGS */

header ul {
	display: flex;
	gap: 1rem;
	list-style-type: none;

	& a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
}

/* ICON STYLES */

.icons-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	& img {
		width: 1rem;
		height: 1rem;
	}

	& img:last-child {
		width: 1.5rem;
		height: 1.5rem;
	}
}
